.service__modal {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;

  h2 {
    margin-bottom: 0;
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  .service__modal {
    width: 500px;
  }
}
