.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: 0;
  width: calc(100vw - 30px);

  background-color: white;
  .modal__content {
    padding: 15px;
    .modal__btn {
      height: 40px;
      background-color: #0091b4;
      border-color: #0091b4;
      color: #f5f9fa;

      &:hover,
      &:focus,
      &:active {
        background-color: #0091b4;
        border-color: #0091b4;
        box-shadow: 0 0 0 0.25rem #0091b49c;
      }
      &:disabled {
        background-color: #0091b4;
        opacity: 0.3;
        color: #f5f9fa;
      }
    }
  }
  .modal__title,
  .modal__title h2 {
    background-color: #0091b4;
    color: #f5f9fa;
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .modal-container {
    position: fixed;
    width: auto;
  }
}
