@import "./mixins.scss";

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.container .calendar {
  padding-bottom: 50px;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.loader {
  border-left: 0.5em solid #0091b4;
  display: inline-block;
  font-size: 20px;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  -webkit-animation: load 1.4s infinite linear;
  animation: load 1.4s infinite linear;
  margin: 30px auto;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.input-box .loader {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.btn.btn-green {
  height: 40px;
  background-color: #91b400;
  border-color: #91b400;
  color: #f5f9fa;

  &:hover,
  &:focus,
  &:active {
    background-color: #91b400;
    border-color: #91b400;
    color: #f5f9fa;
    box-shadow: 0 0 0 0.25rem #91b400a8;
  }
  &:disabled {
    background-color: #91b400;
    opacity: 0.3;
    color: #f5f9fa;
  }
}
.form-wrapper {
  width: 100%;
  @include display-flex;
  @include justify-content-space-between;
  flex-direction: column;
  @include align-items-center;

  h4 {
    font-size: 32px;
    margin: 20px;
  }

  .close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    opacity: 0.7;
    color: #f5f9fa;

    &:hover,
    &:focus {
      opacity: 0.9;
    }
    &:focus {
      outline: 3px solid #bbb4b4;
    }
  }

  span {
    height: 40px;
    &.error {
      color: red;
    }
    &.success {
      color: green;
    }
  }

  form {
    width: 100%;
    height: 80%;
    @include display-flex;
    flex-direction: column;
    @include justify-content-center;
    @include align-items-center;

    button {
      width: 50%;
      height: 40px;
      border-radius: 5px;
      margin: 24px;
      border: 1px solid rgb(101, 101, 156);
      color: rgb(101, 101, 156);

      &:disabled {
        pointer-events: none;
        opacity: 0.6;
      }

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      &:focus {
        outline: none;
        border: 2px solid;
      }
    }
  }
  .form-group {
    @include display-flex;
    flex-direction: column;
    @include justify-content-center;
    height: 70%;
    width: 100%;
    @include align-items-center;
    border-top: 2px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;

    padding-top: 30px;
  }
}

@media (min-width: 576px) {
  .form-wrapper {
    width: 600px;
  }
}

.button-container {
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .button-container {
    position: fixed;
    width: inherit;
  }
}

.alert-box {
  height: 50px;

  .alert {
    padding: 10px;
  }
}
